* {
    box-sizing: border-box; 
  }
  body {
        font-family: "Lato", sans-serif;
    }

/*flexbox/layout catorising*/
  .col-1 {
    background: #D7E8D4;
    flex: 1;
    max-width: 8%;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 3;
    min-height: 60vxh;
    max-width: 50%;
  }
  .content > aside {
    background: beige;
    flex: 1;
    max-width: 50%;
    object-fit: contain;
  }


/*side bar below*/
  .sidebar {
        height: 100%;
        width: 80px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        white-space: nowrap;
    }
    
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidebar a:hover {
        color: #f1f1f1;
    }
    
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
/*icons below*/  
    .material-icons,
    .icon-text {
        vertical-align: middle;
    }
    
    .material-icons {
        padding-bottom: 3px;
    }

/*side bar layout management*/
    #main {
        transition: margin-left .5s;
        padding: 16px;
        margin-left: 100px;
    }
   
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }





    .carousel {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: right;
        flex-direction: row;
        object-fit: contain;
      }
      
      .carousel__item {
        display: flex;
        align-items: center;
        position: absolute;
        object-fit: contain;
        width: 100%;
        opacity: 0;
        filter: drop-shadow(0 2px 2px #555);
        will-change: transform, opacity;
        -webkit-animation: carousel-animate-vertical 27s linear infinite;
                animation: carousel-animate-vertical 27s linear infinite;
      }
      
      .carousel__item:nth-child(1) {
        -webkit-animation-delay: calc(3s * -1);
                animation-delay: calc(3s * -1);
      }
      
      .carousel__item:nth-child(2) {
        -webkit-animation-delay: calc(3s * 0);
                animation-delay: calc(3s * 0);
      }
      
      .carousel__item:nth-child(3) {
        -webkit-animation-delay: calc(3s * 1);
                animation-delay: calc(3s * 1);
      }
      
      .carousel__item:nth-child(4) {
        -webkit-animation-delay: calc(3s * 2);
                animation-delay: calc(3s * 2);
      }
      
      .carousel__item:nth-child(5) {
        -webkit-animation-delay: calc(3s * 3);
                animation-delay: calc(3s * 3);
      }
      
      .carousel__item:nth-child(6) {
        -webkit-animation-delay: calc(3s * 4);
                animation-delay: calc(3s * 4);
      }
      
      .carousel__item:nth-child(7) {
        -webkit-animation-delay: calc(3s * 5);
                animation-delay: calc(3s * 5);
      }
      
      .carousel__item:nth-child(8) {
        -webkit-animation-delay: calc(3s * 6);
                animation-delay: calc(3s * 6);
      }
      
      .carousel__item:last-child {
        -webkit-animation-delay: calc(-3s * 2);
                animation-delay: calc(-3s * 2);
      }
      
      .carousel__item-body {
        width: 50%;
      }
      
      .title {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 10px;
      }
      
      @-webkit-keyframes carousel-animate-vertical {
        0% {
          transform: translateY(100%) scale(0.5);
          opacity: 0;
          visibility: hidden;
        }
        3%, 11.1111111111% {
          transform: translateY(100%) scale(0.7);
          opacity: 0;
          visibility: visible;
        }
        14.1111111111%, 22.2222222222% {
          transform: translateY(0) scale(1);
          opacity: 1;
          visibility: visible;
        }
        25.2222222222%, 33.3333333333% {
          transform: translateY(-100%) scale(0.7);
          opacity: 0;
          visibility: visible;
        }
        36.3333333333% {
          transform: translateY(-100%) scale(0.5);
          opacity: 0;
          visibility: visible;
        }
        100% {
          transform: translateY(-100%) scale(0.5);
          opacity: 0;
          visibility: hidden;
        }
      }
      
      @keyframes carousel-animate-vertical {
        0% {
          transform: translateY(100%) scale(0.5);
          opacity: 0;
          visibility: hidden;
        }
        3%, 11.1111111111% {
          transform: translateY(100%) scale(0.7);
          opacity: 0;
          visibility: visible;
        }
        14.1111111111%, 22.2222222222% {
          transform: translateY(0) scale(1);
          opacity: 1;
          visibility: visible;
        }
        25.2222222222%, 33.3333333333% {
          transform: translateY(-100%) scale(0.7);
          opacity: 0;
          visibility: visible;
        }
        36.3333333333% {
          transform: translateY(-100%) scale(0.5);
          opacity: 0;
          visibility: visible;
        }
        100% {
          transform: translateY(-100%) scale(0.5);
          opacity: 0;
          visibility: hidden;
        }
      }
      





      .row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        flex-direction: row;
      
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        justify-content: center;
      
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        align-items: center;
      
        background-color: red;
      
      }
      
      .cell {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
      
        padding: 10px;
        margin: 10px;
      
        background-color: green;
        border: 1px solid red;
        text-align: center;
      }
      
      img {
        max-width: 100%;
      }